.menu
  .menu__wrapper
    .menu__timeline
      a(href='#hero').menu__timeline_item Введение
      a(href='#1976').menu__timeline_item 1976 Планирование и строительство
      a(href='#1979').menu__timeline_item 1979 Открытие гостиницы
      a(href='#1980').menu__timeline_item 1980 Олимпиада
      a(href='#1984').menu__timeline_item 1984 Международный съезд космонавтов
      a(href='#2005').menu__timeline_item 2005 Космос в кино
      a(href='#2025').menu__timeline_item 2025 Космос сейчас и в будущем

    .menu__action
      p Проверьте знание истории Космос&nbsp;ВДНХ и получите скидку на проживание
      a(href='/').button
        span Проверить



