.olympics#1980
  .olympics__top
    h2.title_year 1980
    img(src='assets/img/1980/building.png')
  //.olympics__build
  //  img.image-build(src='assets/img/1980/build-test.svg')
  //  img.image-mask(src='assets/img/1980/mask.svg')
  //  img.image-moskow(src='assets/img/1980/moskow.svg')
  .olympics__gallery
  .olympics__image_text
    .olympics__image_text__content
      div
        h4 Во время Олимпиады-80 в «Космосе» разместился олимпийский пресс-центр.
        ul
          li Размещение более 3000 представителей международных СМИ и иностранных гостей столицы
          li Работа 57 международных телекомпаний
          li Организация пресс-конференций и брифингов
          li Обеспечение связи с внешним миром
          li Техническое оснащение для трансляции соревнований
    .olympics__image_text__image
      img(src='assets/img/1980/image-text.jpg')
  .olympics__bottom
    .olympics__bottom_text
      p После Олимпиады гостиница неоднократно использовалась как площадка для других международных, всесоюзных и всероссийских мероприятий.
      p Одним из таких мероприятий стал...

    .olympics__bottom_image
      img(src='assets/img/1980/bear.png')
