.olympics
  background-color: #FBFBF9
  &__top
    display: flex
    flex-direction: column
  .title_year
    text-align: center
    color: rgba(195, 35, 4, 1)
  //&__build
  //  position: relative
  //  .image-mask,
  //  .image-moskow
  //    position: absolute
  //    top: 0
  //    left: 0
  //    right: 0
  //    object-fit: contain
  //    height: auto
  //  .image-mask
  //    z-index: 2
  //
  //  .image-moskow
  //    z-index: 1

  &__image_text
    display: flex
    flex-direction: column-reverse
    color: #9B1E06
    @media (min-width: 769px)
      display: grid
      grid-template-columns: 1fr 1fr

    &__content
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 2.917vw
      @media (max-width: 768px)
        padding: 11.65vw calc(var(--container) + 5.825vw)
      div
        display: flex
        flex-direction: column
        gap: 2.917vw
        @media (min-width: 769px)
          max-width: 33.333vw
      h4
        font-size: 5.825vw
        line-height: 1.3
        @media (min-width: 769px)
          font-size: 2.5vw
      ul
        display: flex
        flex-direction: column
        gap: 1vw
        font-size: 4.369vw
        line-height: 1.4
        @media (min-width: 769px)
          font-size: 1.458vw
    &__image
      display: flex
  &__bottom
    position: relative
    height: 100vh
    color: var(--text-white)
    background-color: #C32304
    display: flex
    align-items: center
    justify-content: center
    &_text
      font-size: var(--fs-md)
      line-height: 1.3
      text-align: center
      @media (min-width: 769px)
        max-width: 45.313vw
    &_image
      position: absolute
      width: 100%
      top: var(--p-80)
      bottom: var(--p-80)
      img
        object-position: bottom center
        object-fit: contain
