.hero
  height: 200vh
  &__media
    height: 100vh
    position: sticky
    top: 0
  &__title
    height: 100vh
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: var(--text-white)
    text-align: center
    h2
      font-size: 19.417vw
      @media (min-width: 769px)
        font-size: 7.083vw
    p
      font-size: 4.854vw
      line-height: 1.2
      @media (min-width: 769px)
        font-size: 2.083vw

