.hero#hero
  a(href='https://cosmosgroup.ru').hero__logo
    img(src='./assets/img/logo.svg')
  .hero__title
    h2 46 лет
    p знаменитой гостинице <br>Космос ВДНХ
  .hero__media
    img(src='./assets/img/hero.jpg')
