.project
  .project__title
    h2.title_year
      span.digit-container
        span.digit-stack
          span.digit 2
          span.digit 1
        span.digit_stub 0
      span.digit-container
        span.digit-stack
          span.digit 0
          span.digit 9
        span.digit_stub 0
      span.digit-container
        span.digit-stack
          span.digit 2
          span.digit 3
          span.digit 4
          span.digit 5
          span.digit 6
          span.digit 7
        span.digit_stub 0
      span.digit-container
        span.digit-stack
          span.digit 5
          span.digit 6
        span.digit_stub 0
  .project__content
    .wrapper
      .project-row-1.-line-top
        div
          h4 Уже на стадии проектирования “Космос” задумывался как необычный проект
          img(src='/assets/img/1976/1.jpg')
        div
          div
            h4 Передовые технологии
            p При строительстве использовались: бетонный завод на площадке, инфракрасные облучатели, болтовые соединения.
          div
            h4 Рекордно быстрое строительство
            p Команда проекта выполнила сложнейшую задачу - успеть возвести здание к Олимпийским играм 1980 года
          div
            h4 1777 номеров
            p На момент строительства - самый вместительный отель СССР
      .project-row-2.-line-top
        div
          h4 Гостиница стала первым после здания Центросоюза Ле Корбюзье опытом совместной работы архитекторов СССР и капиталистического государства
        div
          div
            h4 СССР
            p В работе участвовали специалисты из Моспроекта-1: В. Андреев, Т. Заикин,  В. Стейскал
          div
            h4 Франция
            p Архитектурным проектом занимались специалисты агенства Sefri: О. Какуб, П. Жюгло, С. Эпштейн
      .project-row-3
        div
          div
            img(src='/assets/img/1976/2.jpg')
            p В. Андреев
        div
          div
            img(src='/assets/img/1976/3.jpg')
            p Т. Заикин
        div
          div
            img(src='/assets/img/1976/4.jpg')
            p В. Стейскал с финальным макетом гостиницы
      .project-row-4.-line-top
        div
          div
            h4 Архитектурные эскизы
          div
            img(src='/assets/img/1976/5.png')
          div
            img(src='/assets/img/1976/6.png')
        div
          img(src='/assets/img/1976/7.png')
          p Гостиница стала первым после здания Центросоюза Ле Корбюзье опытом совместной работы архитекторов СССР и капиталистического государства
    .project-row-5.-line-top
      img(src='/assets/img/1976/8.png')

