.project
  //margin-top: -50vh
  //background: linear-gradient(to bottom, transparent 0, transparent 50vh, #e4dfc9 50vh, #e4dfc9 100%)
  position: relative
  z-index: 1
  //@media (min-width: 769px)
  //margin-top: -100vh
  background: linear-gradient(to bottom, transparent 0, transparent 100vh, #e4dfc9 100vh, #e4dfc9 100%)
  .wrapper
    border-left: 1px solid #624E31
    border-right: 1px solid #624E31
    margin:  0 var(--container)
  &__content
    position: relative
    overflow: hidden
    background-color: #E4DFC9
    z-index: 2
  h4
    font-size: var(--fs-md)
    line-height: 1.3
  p
    font-size: var(--fs-sm)
    line-height: 1.5
  &-row-1
    @media (min-width: 769px)
      display: grid
      grid-template-columns: 1fr 1fr
    &>div:first-child
      display: flex
      flex-direction: column
      h4
        padding: var(--p-80)
      img
        aspect-ratio: 880/454
        width: 100%
        height: auto
    &>div:last-child
      padding: var(--p-80)
      display: flex
      flex-direction: column
      gap: 5.825vw
      @media (min-width: 769px)
        gap: 3.854vw
        border-left: 1px solid #624E31
      div
        position: relative
        &:after
          content: ''
          position: absolute
          top: 0
          left: calc((var(--p-80) + 1.8vw) * -1)
          width:  2.913vw
          height:  2.913vw
          border: 1px solid #624E31
          border-radius: 50px
          background-color: #E4DFC9
          z-index: 1
          @media (min-width: 769px)
            left: calc((var(--p-80) + 0.417vw) * -1)
            width: 0.833vw
            height: 0.833vw

  &-row-2
    @media (min-width: 769px)
      display: grid
      grid-template-columns: repeat(2, 1fr)
    &>div
      padding: var(--p-80)
    &>div:first-child
      @media (min-width: 769px)
        border-right: 1px solid #624E31
    &>div:last-child
      display: flex
      flex-direction: column
      gap: var(--p-80)
      border-top: 1px solid #624E31
      @media (min-width: 769px)
        flex-direction: row
        border: none
  &-row-3
    border-top: 1px solid #624E31
    display: grid
    grid-template-columns: repeat(2, 1fr)
    @media (min-width: 769px)
      grid-template-columns: repeat(4, 1fr)
    &>div
      padding: var(--p-80)
    &>div:first-child
      display: flex
      flex-direction: column
      img
        aspect-ratio: 280/370
    &>div:nth-child(2)
      border-right: 1px solid #624E31
      border-left: 1px solid #624E31
      img
        aspect-ratio: 280/477
    &>div:last-child
      grid-column: span 2
      @media (max-width: 768px)
        border-top: 1px solid #624E31
      img
        aspect-ratio: 720/463
  &-row-4
    @media (min-width: 769px)
      display: grid
      grid-template-columns: repeat(4,1fr)
    div
      position: relative
    img
      mix-blend-mode: multiply
      position: absolute
      inset: 0

    &>div:first-child
      @media (min-width: 769px)
        display: grid
        grid-template-rows: repeat(3, 1fr)
      div
        display: flex
        align-items: center
        justify-content: center
        &:first-child
          border-bottom: 1px solid #624E31
          @media (max-width: 768px)
            aspect-ratio: initial
      h4
        padding: var(--p-80) 0
        @media (min-width: 769px)
          text-align: center
          max-width: 14.583vw
    &>div:last-child
      position: relative
      grid-column: span 3
      display: flex
      p
        position: absolute
        top: 0
        left: 0
        margin: var(--p-80)
        @media (min-width: 769px)
          max-width: 14.583vw
      img
        @media (max-width: 768px)
          padding-top: 20vh
          position: static
  .-line-top
    position: relative
    &:after
      content: ''
      border-top: 1px solid #624E31
      position: absolute
      width: 100vw
      translate: -50% 0
      left: 50%
      top: 0
  &-row-5
    padding: 10vh 0 10vh
    @media (min-width: 769px)
      padding: 0
      align-content: center
      height: 100vh
      display: grid
      grid-template-columns: repeat(4, 1fr)
      background: linear-gradient(90deg,transparent 0%,transparent calc(25% - 1px),#624E31 calc(25% - 1px),#624E31 25%,transparent 25%,transparent calc(50% - 1px),#624E31 calc(50% - 1px),#624E31 50%,transparent 50%,transparent calc(75% - 1px),#624E31 calc(75% - 1px),#624E31 75%,transparent 75%)
    img,video
      grid-column: 2/4
      width: 100%


.project__title
  position: relative
  z-index: 2
  //height: 100vh
  //margin-top: -50vh
  //@media (min-width: 769px)
  margin-top: -100vh
  height: 200vh
.title_scrolling
  //height: 100vh
  display: flex
  justify-content: center
  position: absolute
  top: 0
  width: 100%
  //@media (min-width: 769px)
  height: 200vh
  &_wrapper
    position: relative
    width: 100%
    height: 100%
  &.-color-white
    color: #FFFFFF
  &.-color-black
    z-index: 2
    color: #000
    will-change: clip-path
    clip-path: inset( 50%  0%  0%   0%)
  .title_year
    display: flex
    font-variant-numeric: tabular-nums
    position: sticky
    top: 0
    //height: 50vh
    line-height: 1
    align-items: center
    //@media (min-width: 769px)
    height: 100vh
    .digit-container
      display: inline-block
      position: relative
      overflow: hidden
      height: 1em
      &:nth-child(-n+2)
        .digit-stack
          top: auto
          bottom: 0
      .digit_stub
        opacity: 0
      .digit-stack
        position: absolute
        width: 100%
        .digit
          display: flex
          align-items: center
          justify-content: center



