.project
  .project__title
    h2.title_year
      span.digit-container
        span.digit-stack
          span.digit 2
          span.digit 1
        span.digit_stub 0
      span.digit-container
        span.digit-stack
          span.digit 0
          span.digit 9
        span.digit_stub 0
      span.digit-container

        span.digit-stack
          span.digit 2
          span.digit 3
          span.digit 4
          span.digit 5
          span.digit 6
          span.digit 7
        span.digit_stub 0
      span.digit-container
        span.digit-stack
          span.digit 5
          span.digit 6
        span.digit_stub 0
  .wrapper
    .project__content

.div(style='height:100vh')
