.now#2025
  .now__bck
    .now__head
      .now__head_title Космос сейчас
      .now__head_subtitle и в будущем
    img(src='/assets/img/now/bck.jpg')
  .now__wrapper
    .now__item
      p На сегодняшний день гостиница Космос ВДНХ
      span продолжает оставаться одной из крупнейших и наиболее значимых гостиниц России.
    .now__item
      p Новая жизнь легендарной гостиницы
      span В 2029 году гостиница отмечает 50 лет с момента открытия. К этой знаменательной дате, гостиница готовит много сюрпризов для гостей.
    .now__item
      p На сегодняшний день гостиница Космос ВДНХ
      span продолжает оставаться одной из крупнейших и наиболее значимых гостиниц России.
    .now__item
      p Новая жизнь легендарной гостиницы
      span продолжает оставаться одной из крупнейших и наиболее значимых гостиниц России.

