.slider_controls
  display: flex
  justify-content: center
  gap: 3.333vw
  .swiper--prev,
  .swiper--next
    aspect-ratio: 1/1
    width: 5.742vw
    background-repeat: no-repeat
    background-size: contain
    cursor: pointer
    @media (min-width: 769px)
      width: 1.667vw
    &[class*="-disabled"]
      opacity: .3
  .swiper--prev
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0411 7.29289C14.4316 7.68342 14.4316 8.31658 14.0411 8.70711L7.7482 15H26.6673C27.2196 15 27.6673 15.4477 27.6673 16C27.6673 16.5523 27.2196 17 26.6673 17H7.7482L14.0411 23.2929C14.4316 23.6834 14.4316 24.3166 14.0411 24.7071C13.6506 25.0976 13.0174 25.0976 12.6269 24.7071L4.62688 16.7071C4.23635 16.3166 4.23635 15.6834 4.62688 15.2929L12.6269 7.29289C13.0174 6.90237 13.6506 6.90237 14.0411 7.29289Z' fill='white'/%3E%3C/svg%3E")

  .swiper--next
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9602 7.29289C18.3507 6.90237 18.9839 6.90237 19.3744 7.29289L27.3744 15.2929C27.7649 15.6834 27.7649 16.3166 27.3744 16.7071L19.3744 24.7071C18.9839 25.0976 18.3507 25.0976 17.9602 24.7071C17.5697 24.3166 17.5697 23.6834 17.9602 23.2929L24.2531 17H5.33398C4.7817 17 4.33398 16.5523 4.33398 16C4.33398 15.4477 4.7817 15 5.33398 15H24.2531L17.9602 8.70711C17.5697 8.31658 17.5697 7.68342 17.9602 7.29289Z' fill='white'/%3E%3C/svg%3E")
