.opening
  .opening__anim
    h2.title_year 1979
    img.human(src='/assets/img/1979/jo.png')
    img.cosmos(src='/assets/img/1979/cosmos.png')
    img.bck(src='/assets/img/1979/bck.jpg')

  .opening__gallery
    .card
      img(src='/assets/img/1979/gallery-1.png')
      .title
    .card
      img(src='/assets/img/1979/gallery-2.png')
      .title
    .card
      img(src='/assets/img/1979/gallery-3.png')
      .title
  .opening__info
