.opening
  background-color: #FBFBF9
  &__title_wrapper
    position: absolute
    inset: 0
    .title_year
      position: sticky
      top: 0
      height: 100vh
      display: flex
      justify-content: center
      align-items: center
  &__anim
    position: relative
    color: var(--text-white)
    margin-bottom: var(--p-80)
    display: flex
    flex-direction: column
    .cosmos
      position: absolute
      inset: 0
      object-position: bottom center
      z-index: 1
      object-fit: contain
    .human
      position: absolute
      object-fit: contain
      object-position: bottom center
      bottom: 0
      width: 41.667vw
      z-index: 2
      right: 0
    .text
      position: absolute
      bottom: 70vh
      left: 50%
      translate: -50% 0
      font-size: 2.5vw
      z-index: 3
      text-align: center
      max-width: 45.833vw
  &__gallery
    overflow: hidden
    &_wrapper
      display: flex
      gap: 1.667vw
    .card
      flex-shrink: 0
  &__info
    .wrapper
      display: grid
      grid-template-columns: repeat(4, 1fr)
      padding: 0 var(--p-80)
      .text
        position: absolute
      div
        position: relative
      img
        object-fit: contain
        height: auto
      &>div:first-child
        .img
          padding-top: 32vh
        .text
          top: 0
          translate: -50% 0
          width: 110%
          left: 50%

      &>div:nth-child(2)
        grid-column: 2/4
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-bottom: 20vh
        p
          text-align: center
          font-size: var(--fs-md)
          margin:  18vh 0 13vh
          max-width: 37.5vw
        .img
          max-width: 32.292vw
        .text
          max-width: 25vw
          bottom: 0
          left: 0

      &>div:last-child
        display: flex
        flex-direction: column
        .img
          max-width: 13.281vw
          margin-left: auto
          margin-top: 25vh
        .text
          position: static
          max-width: 18.229vw
