extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../components/content/hero/hero
  //include ../components/content/1976/1976
