extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../components/content/hero/hero
  include ../components/content/1976/1976
  include ../components/content/1979/1979
  include ../components/content/1980/1980
  //include ../components/content/1984/1984
  //include ../components/content/now/now
