@font-face
  font-family: 'Circle'
  font-weight: 400
  font-style: normal
  src: url("../fonts/Circe-Regular.woff") format('truetype')

@font-face
  font-family: 'Circle'
  font-weight: 350
  font-style: normal
  src: url("../fonts/Circe-Light.woff") format('truetype')

html
  font-size: clamp(16px, calc(16px + (18 - 16) * ((100vw - 1024px) / (1920 - 1024))), 18px)
  font-family: 'Circle', sans-serif
  text-size-adjust: none
  -webkit-text-size-adjust: none
  font-weight: 400
h1,h2,h3,h4,h5,h6
  font-weight: 400

.title_year
  font-weight: 350
  font-size: var(--fs-year)
  text-align: center
  letter-spacing: -.009em
.card
  flex-shrink: 0
  flex-grow: 0
