.preloader
  .preloader__wrapper
    img(src='/assets/img/hero.jpg' data-year='hero')
    img(src='/assets/img/1976.jpg' data-year='1976')
    img(src='/assets/img/bck.jpg' data-year='1979')
    img(src='/assets/img/hero.jpg' data-year='1980')
