.preloader
  .preloader__wrapper
    img(src='./assets/img/hero.jpg' data-year='hero')
    img(src='./assets/img/1976/1.jpg' data-year='1976')
    img(src='./assets/img/1984/horizontal-bck-2.jpg' data-year='1979')
    img(src='./assets/img/hero.jpg' data-year='1980')
    img(src='./assets/img/1984/horizontal-bck-2.jpg' data-year='1984')
    img(src='./assets/img/1984/horizontal-bck-3.jpg' data-year='2005')
    img(src='./assets/img/now/bck.jpg' data-year='2025')
