footer.footer
  .footer__wrapper
    .footer__content
      .timeline
        .timeline__labels
          .timeline__label
            .timeline__label_title 1976-2025

      .footer__content_text
        p Проверьте знания истории и получите скидку на проживание в легендарной гостинице Космос ВДНХ
      .footer__content_action
        a.button
          span Пройти тест
  .footer__note
    p © 2025 АО «Космос ОГ». Все права защищены.
