.nav
  position: fixed
  bottom: 2vh
  left: 50%
  background-color: rgba(30, 30, 30, 0.9)
  color: var(--text-white)
  translate: -50% 0
  padding: 1vh 1.25vw
  backdrop-filter: blur(40px)
  border-radius: 8px
  z-index: 150
  @media (max-width: 600px)
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    gap: 16px
  &__scroll
    position: relative
    width: 100%
    height: 100%
    flex-grow: 1
    overflow: hidden
    &:after,
    &:before
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      inset: 0
      opacity: 0
      transition: opacity 0.3s ease
    &:before
      content: 'Закрыть меню'
    &:after
      content: 'Путешествуем во времени...'
  &__action
    position: relative
    width: 1.2em
    aspect-ratio: 1/1
  [class^=icon-]
    position: absolute
    background-size: contain
    background-repeat: no-repeat
    opacity: 0
    inset: 0
  .icon-burger
    opacity: 1
    cursor: pointer
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 24H0V22H32V24ZM32 13H0V11H32V13ZM32 2H0V0H32V2Z' fill='white'/%3E%3C/svg%3E%0A")
  .icon-loading
    pointer-events: none
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.0205 2.39355L14.4141 12.999L25.042 23.627L23.627 25.042L12.999 14.4141L2.39355 25.0205L0.979492 23.6064L11.585 13L1 2.41406L2.41406 1L13 11.585L23.6064 0.979492L25.0205 2.39355Z' fill='white'/%3E%3Cpath d='M23.627 25.042L12.999 14.4141L2.39355 25.0205L23.627 25.042Z' fill='white'/%3E%3Cpath d='M2.41406 1L13 11.585L23.6064 0.979492L2.41406 1Z' fill='white'/%3E%3Cpath d='M1 2.41406L2.41406 1H1V2.41406Z' fill='white'/%3E%3Cpath d='M23.6064 0.979492L25.0205 2.39355V0.979492H23.6064Z' fill='white'/%3E%3Cpath d='M25.042 23.627L23.627 25.042H25.042V23.627Z' fill='white'/%3E%3Cpath d='M2.39355 25.0205L0.979492 23.6064V25.0205H2.39355Z' fill='white'/%3E%3C/svg%3E%0A")
  .icon-close
    pointer-events: none
    cursor: pointer
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.0205 2.39355L14.4141 12.999L25.042 23.627L23.627 25.042L12.999 14.4141L2.39355 25.0205L0.979492 23.6064L11.585 13L1 2.41406L2.41406 1L13 11.585L23.6064 0.979492L25.0205 2.39355Z' fill='white'/%3E%3C/svg%3E%0A")
.page.open_menu
  .nav__scroll
    .timeline
      opacity: 0
    &:before
      opacity: 1
  .nav
    .icon-close
      opacity: 1
      pointer-events: auto
    .icon-burger
      opacity: 0
      pointer-events: none
.page.loading
  .nav__scroll
    .timeline
      opacity: 0
    &:after
      opacity: 1
  .nav
    .icon-loading
      opacity: 1
      pointer-events: auto
      animation: Loading 5s linear infinite
    .icon-burger
      opacity: 0
      pointer-events: none


@keyframes Loading
  0%
    rotate: 0
  100%
    rotate: 360deg



.timeline
  position: relative
  height: 100%
  width: 100%
  padding: 0 20px
  mask-image: linear-gradient(86deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%,  rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%)
  max-width: 250px
  &:after
    content: ''
    position: absolute
    height: 19px
    width: 1px
    background-color: #FFFFFF
    translate: -50% 0
    left: 50%
    bottom: 0
    z-index: 2
  &__labels
    display: flex
    justify-content: space-between
    position: relative
    height: 100%
    overflow-x: auto
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
      display: none

  &__label
    color: #fff
    font-size: 13px
    opacity: 0.3
    transition: opacity 0.3s ease
    min-width: 200px
    padding-bottom: 20px
    &:after
      content: ''
      position: absolute
      bottom: 0
      width: 100%
      height: 12px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1042' height='12' viewBox='0 0 1042 12' fill='none'%3E%3Cpath d='M1 0V12' stroke='white'/%3E%3Cpath d='M21 0V12' stroke='white'/%3E%3Cpath d='M41 0V12' stroke='white'/%3E%3Cpath d='M61 0V12' stroke='white'/%3E%3Cpath d='M81 0V12' stroke='white'/%3E%3Cpath d='M101 0V12' stroke='white'/%3E%3Cpath d='M121 0V12' stroke='white'/%3E%3Cpath d='M141 0V12' stroke='white'/%3E%3Cpath d='M161 0V12' stroke='white'/%3E%3Cpath d='M181 0V12' stroke='white'/%3E%3Cpath d='M201 0V12' stroke='white'/%3E%3Cpath d='M221 0V12' stroke='white'/%3E%3Cpath d='M241 0V12' stroke='white'/%3E%3Cpath d='M261 0V12' stroke='white'/%3E%3Cpath d='M281 0V12' stroke='white'/%3E%3Cpath d='M301 0V12' stroke='white'/%3E%3Cpath d='M321 0V12' stroke='white'/%3E%3Cpath d='M341 0V12' stroke='white'/%3E%3Cpath d='M361 0V12' stroke='white'/%3E%3Cpath d='M381 0V12' stroke='white'/%3E%3Cpath d='M401 0V12' stroke='white'/%3E%3Cpath d='M421 0V12' stroke='white'/%3E%3Cpath d='M441 0V12' stroke='white'/%3E%3Cpath d='M461 0V12' stroke='white'/%3E%3Cpath d='M481 0V12' stroke='white'/%3E%3Cpath d='M501 0V12' stroke='white'/%3E%3Cpath d='M521 0V12' stroke='white'/%3E%3Cpath d='M541 0V12' stroke='white'/%3E%3Cpath d='M561 0V12' stroke='white'/%3E%3Cpath d='M581 0V12' stroke='white'/%3E%3Cpath d='M601 0V12' stroke='white'/%3E%3Cpath d='M621 0V12' stroke='white'/%3E%3Cpath d='M641 0V12' stroke='white'/%3E%3Cpath d='M661 0V12' stroke='white'/%3E%3Cpath d='M681 0V12' stroke='white'/%3E%3Cpath d='M701 0V12' stroke='white'/%3E%3Cpath d='M721 0V12' stroke='white'/%3E%3Cpath d='M741 0V12' stroke='white'/%3E%3Cpath d='M761 0V12' stroke='white'/%3E%3Cpath d='M781 0V12' stroke='white'/%3E%3Cpath d='M801 0V12' stroke='white'/%3E%3Cpath d='M821 0V12' stroke='white'/%3E%3Cpath d='M841 0V12' stroke='white'/%3E%3Cpath d='M861 0V12' stroke='white'/%3E%3Cpath d='M881 0V12' stroke='white'/%3E%3Cpath d='M901 0V12' stroke='white'/%3E%3Cpath d='M921 0V12' stroke='white'/%3E%3Cpath d='M941 0V12' stroke='white'/%3E%3Cpath d='M961 0V12' stroke='white'/%3E%3Cpath d='M981 0V12' stroke='white'/%3E%3Cpath d='M1001 0V12' stroke='white'/%3E%3Cpath d='M1021 0V12' stroke='white'/%3E%3Cpath d='M1041 0V12' stroke='white'/%3E%3C/svg%3E")
      background-repeat: repeat-x
      background-position: bottom
      background-size: cover
      opacity: 0.7
    &_title
      position: sticky
      left: 50%
      width: max-content
      translate: -50% 0
    &:first-child
      min-width: 408px

    &[data-year="introduction"]
      transform: translateX(0)
    &.active
      opacity: 1
      color: #f0c14b
