.nav
  .nav__wrapper
    .nav__logo
      img(src='/assets/img/vdnh.svg')
    .nav__scroll
      .timeline
        .timeline__labels
          .timeline__label(data-year="hero")
            .timeline__label_title Введение
          .timeline__label(data-year="1976")
            .timeline__label_title 1976
          .timeline__label(data-year="1979")
            .timeline__label_title 1979
          .timeline__label(data-year="1980")
            .timeline__label_title 1980
          .timeline__label(data-year="1984")
            .timeline__label_title 1984
          .timeline__label(data-year="2005")
            .timeline__label_title 2005
          .timeline__label(data-year="2025")
            .timeline__label_title 2025
    .nav__action
      .icon X

